<button class="btn btn-lg btn-default btn-rounded" aria-label="Menu">
  <svg class="btn-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22 16V18H2V16H22ZM22 11V13H2V11H22ZM22 6V8H2V6H22Z" fill="currentColor"/>
  </svg>
</button>
