<div class="header__cart">
  <button class="btn btn-md btn-default" aria-label="Shopping cart">
    <%= image_tag "icons/cart.svg", alt: "", class: "btn-icon", width: "16", height: "16" %>
    <span class="btn-text">Cart</span>
    <span class="btn-text">0</span>
  </button>
</div>
