<div class="header__selectors">
  <button class="btn btn-lg btn-default btn-rounded" aria-label="Select country, language and currency">
    <span class="btn-text">🇺🇸</span>
    <span class="btn-text">EN</span>
    <span class="btn-text">USD</span>
  </button>
</div>
