<div class="header__favorites">
  <button class="btn btn-lg btn-default btn-rounded-left" aria-label="Favorites">
    <svg class="btn-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.7939 4.19226C15.9647 3.32758 17.5873 3.42809 18.6425 4.43054L21.7207 7.35437C22.6005 8.19017 22.8897 9.4737 22.4541 10.6063L20.6816 15.2157C20.4413 15.8405 19.9989 16.3674 19.4248 16.7118L13.542 20.2401C12.5919 20.8099 11.405 20.8102 10.455 20.2401L4.57711 16.7118C4.0034 16.3675 3.56053 15.8411 3.32027 15.2167L1.54781 10.6063C1.11219 9.4737 1.40142 8.19017 2.28121 7.35437L5.35836 4.43054C6.41387 3.42783 8.0372 3.32791 9.20797 4.19323L11.998 6.25573L14.7939 4.19226ZM17.2656 5.88073C16.9139 5.54661 16.3726 5.5125 15.9824 5.80066L12.5927 8.30456C12.2395 8.56529 11.7573 8.56458 11.4043 8.30359L8.01949 5.80163C7.62929 5.51318 7.08815 5.54661 6.73629 5.88073L3.65914 8.80456C3.36588 9.08316 3.26882 9.511 3.41402 9.88855L5.18746 14.4979C5.26751 14.706 5.41428 14.8821 5.60543 14.9969L11.4843 18.5253C11.801 18.7153 12.1969 18.7152 12.5136 18.5253L18.3955 14.9969C18.5868 14.8822 18.7343 14.7062 18.8144 14.4979L20.5879 9.88855C20.7331 9.511 20.636 9.08316 20.3427 8.80456L17.2656 5.88073Z" fill="currentColor"/>
    </svg>
    <%# <span class="btn-text">Favorites</span> %>
    <span class="btn-text">0</span>
  </button>
</div>
