<div class="header__favorites">
  <button class="btn btn-md btn-default" aria-label="Favorites">
    <%= image_tag "icons/fav.svg", alt: "", class: "btn-icon", width: "16", height: "16" %>
    <span class="btn-text">Favorites</span>
    <span class="btn-text">0</span>
  </button>
</div>
