<div class="header__login">
  <button class="btn btn-md btn-default" aria-label="Sign in to account">
    <%= image_tag "icons/user.svg", alt: "", class: "btn-icon", width: "16", height: "16" %>
    <span class="btn-text">Sign In</span>
  </button>
</div>
