<div class="header__search">
  <form role="search" aria-label="Search products">
    <input 
      type="search" 
      name="q" 
      class="input input-md input-outline"
      placeholder="Search products..."
      aria-label="Search products"
      autocomplete="off"
    >
    <button type="submit" class="btn btn-lg btn-default" aria-label="Search">
      <%= image_tag "icons/search.svg", alt: "", class: "btn-icon", width: "16", height: "16" %>
      <span class="btn-text">Search</span>
    </button>
  </form>
</div>
