:root {

  /* COLOR TOKENS: */
  // --white: 215 10% 98%; 

  --white-transp-50: 0 0% 100% / 0.5;
  --white-transp-40: 0 0% 100% / 0.4;
  --white-transp-30: 0 0% 100% / 0.3;
  --white-transp-20: 0 0% 100% / 0.2;

  /* Gray 25: */
  --gray25-28: 215 25% 28%;
  --gray25-25: 215 25% 25%;
  --gray25-23: 215 25% 23%;
  --gray25-20: 215 25% 20%;
  --gray25-17: 215 25% 17%;
  --gray25-15: 215 25% 15%;
  --gray25-13: 215 25% 13%;
  --gray25-10: 215 25% 10%;

  --gray-transp-80: 215 10% 25% / 0.8;
  --gray-transp-60: 215 10% 25% / 0.6;
  --gray-transp-30: 215 10% 25% / 0.30;

  /* Gray 15: */
  --gray15-100: 215 15% 98%;
  --gray15-80: 215 15% 80%;
  --gray15-70: 215 15% 70%;
  --gray15-50: 215 15% 50%;
  --gray15-10: 215 15% 10%;

  /* Red: */
  --red-60: 10 85% 60%;
  --red-30: 10 85% 30%;

  /* Orange: */
  --orange-65: 45 100% 65%;

  /* Green: */
  --green-50: 160 100% 50%;
  --green-40: 160 100% 40%;
  --green-30: 160 100% 30%;
  --green-20: 160 100% 20%;
  --green-15: 160 50% 15%;
  --green-5: 160 50% 5%;

  --green-transp-50: 160 100% 40% / 0.5;
  --green-transp-15: 160 100% 40% / 0.15;
  --transp-green-10: 160 100% 40% / 0.1;

  /* Lime: */
  --lime-80: 90 100% 80%;

  /* Blue: */
  --blue-30: 230 70% 30%;

  /* Cyan: */
  --cyan-80: 195 100% 80%;
  --cyan-60: 195 100% 60%;
  --cyan-50: 195 100% 50%;
  --cyan-35: 195 100% 35%;
  --cyan-15: 195 80% 15%;

  --cyan-transp-20: 195 100% 80% / 0.2;
  --cyan-transp-10: 195 100% 60% / 0.1;

  /* Purple: */
  --purple-70: 265 100% 70%;
  --purple-60: 265 100% 60%;



  /* SEMANTIC COLORS: */

  /* BACKGROUND COLORS: */
  --color-bg-primary: hsl(var(--gray25-10));
  --color-bg-block: hsl(var(--gray25-13));
  --color-bg-block-hover: hsl(var(--gray25-17));
  --color-bg-green: hsl(var(--green-40));
  --color-bg-white: hsl(var(--gray15-100));
  --color-bg-cyan: hsl(var(--cyan-50));
  --color-bg-red: hsl(var(--red-60));
  --color-bg-purple: hsl(var(--purple-60));
  --color-bg-price: hsl(var(--cyan-15));
  --color-bg-frost: hsl(var(--gray-transp-30));
  --color-bg-frost-dark: hsl(var(--gray-transp-60));



  /* BUTTONS: */
  
  /* Primary Button: */
  --color-btn-primary: hsl(var(--green-40));
  --color-btn-primary-hover: hsl(var(--green-50));

  --color-btn-primary-focus-outline: hsl(var(--green-20));
  --color-btn-primary-fade: hsl(var(--transp-green-10));
  --color-btn-primary-fade-dark: hsl(var(--transp-green-15));
  --color-btn-primary-dark: hsl(var(--green-15));

  /* Secondary Button: */
  --color-btn-secondary: hsl(var(--cyan-50));
  --color-btn-secondary-hover: hsl(var(--cyan-60));
  --color-btn-secondary-transparent: hsl(var(--cyan-transp-10));
  --color-btn-secondary-transparent-dark: hsl(var(--cyan-transp-20));

  /* Frost Button: */
  --color-btn-frost: hsl(var(--gray-transp-30));



  /* TEXT COLORS: */

  /* Primary Text: */
  --color-text-primary: hsl(var(--gray15-100));
  --color-text-secondary: hsl(var(--gray15-70));
  --color-text-tertiary: hsl(var(--gray15-50));
  --color-text-placeholder: hsl(var(--white-transp-30));
  --color-text-green-placeholder: hsl(var(--green-transp-50));

  /* Green Text: */
  --color-text-green: hsl(var(--green-40));
  --color-text-green-secondary: hsl(var(--green-30));
  --color-text-green-underline: hsl(var(--transp-green-50));
  --color-text-green-dark: hsl(var(--green-5));

  /* Cyan Text: */
  --color-text-cyan: hsl(var(--cyan-50));
  --color-text-cyan-secondary: hsl(var(--cyan-35));

  /* Purple Text: */
  --color-text-purple: hsl(var(--purple-70));

  /* Red Text: */
  --color-text-red: hsl(var(--red-60));


  /*LINK COLORS: */
  --color-link-primary: hsl(var(--green-40));
  --color-link-primary-hover: hsl(var(--green-50));

  --color-link-secondary: hsl(var(--green-30));
  --color-link-secondary-hover: hsl(var(--green-40));

  --color-link-underline: hsl(var(--green-transp-50));


  /* ELEMENTS COLORS: */
  --color-element-primary: hsl(var(--gray25-15));
  --color-element-secondary: hsl(var(--gray25-20));
  --color-element-tertiary: hsl(var(--gray25-25));
  --color-element-quaternary: hsl(var(--gray25-30));

  --color-element-block-primary: hsl(var(--gray25-17));
  --color-element-block-secondary: hsl(var(--gray25-23));
  --color-element-block-tertiary: hsl(var(--gray25-28));
  --color-element-block-quaternary: hsl(var(--gray25-35));

  /* BORDER COLORS: */
  --color-border-primary: hsl(var(--gray25-15));
  --color-border-secondary: hsl(var(--gray25-25));
  --color-border-tertiary: hsl(var(--gray25-35));
  --color-border-quaternary: hsl(var(--gray25-45));

  --color-border-green: hsl(var(--green-40));
  --color-border-green-secondary: hsl(var(--green-30));
  --color-border-green-tertiary: hsl(var(--green-20));
  --color-border-green-quaternary: hsl(var(--green-10));

  --color-border-cyan: hsl(var(--cyan-50));
  --color-border-purple: hsl(var(--purple-60));
  --color-border-red: hsl(var(--red-60));

}











/* DARK MODE COLORS: */

@media (prefers-color-scheme: dark) {
  :root {
    /* BACKGROUND COLORS: */
    --color-bg-primary: hsl(var(--gray25-10));
    --color-bg-block: hsl(var(--gray25-13));
    --color-bg-block-hover: hsl(var(--gray25-17));
    
    /* TEXT COLORS: */
    --color-text-primary: hsl(var(--gray15-100));
    --color-text-secondary: hsl(var(--gray15-70));
    --color-text-tertiary: hsl(var(--gray15-50));
    
    /* ELEMENTS COLORS: */
    --color-element-primary: hsl(var(--gray25-15));
    --color-element-secondary: hsl(var(--gray25-20));
    --color-element-tertiary: hsl(var(--gray25-25));
    --color-element-quaternary: hsl(var(--gray25-30));
    
    --color-element-block-primary: hsl(var(--gray25-17));
    --color-element-block-secondary: hsl(var(--gray25-23));
    --color-element-block-tertiary: hsl(var(--gray25-28));
    --color-element-block-quaternary: hsl(var(--gray25-35));
    
    /* BORDER COLORS: */
    --color-border-primary: hsl(var(--gray25-15));
    --color-border-secondary: hsl(var(--gray25-25));
    --color-border-tertiary: hsl(var(--gray25-35));
    --color-border-quaternary: hsl(var(--gray25-45));
  }
}
