:root {
  /* Border Radius */
  --radius-xs: var(--size-xs02); // 3px
  --radius-sm: var(--size-xs03); // 4px
  --radius-md: var(--size-xs05); // 6px
  --radius-lg: var(--size-s01); // 8px
  --radius-xl: var(--size-s03); // 12px
  --radius-2xl: var(--size-m01); // 16px
  --radius-3xl: var(--size-l01); // 24px
}

