:root {
  /* Size Tokens */
  
  --size-8xs: 0.125rem; //2px
  --size-7xs: 0.1875rem; //3px
  --size-6xs: 0.25rem; //4px
  --size-5xs: 0.3125rem; //5px
  --size-4xs: 0.375rem; //6px
  --size-3xs: 0.5rem; //8px
  --size-2xs: 0.625rem; //10px
  --size-xs: 0.75rem; //12px
  --size-sm: 0.875rem; //14px
  --size-md: 1rem; //16px
  --size-lg: 1.125rem; //18px
  --size-xl: 1.25rem; //20px
  --size-2xl: 1.375rem; //22px
  --size-3xl: 1.5rem; //24px
  --size-4xl: 1.625rem; //26px
  --size-5xl: 1.75rem; //28px
  --size-6xl: 1.875rem; //30px
  --size-7xl: 2rem; //32px
  --size-8xl: 2.25rem; //36px
  --size-9xl: 2.5rem; //40px
  --size-10xl: 2.75rem; //44px
  --size-11xl: 3rem; //48px
  --size-12xl: 3.5rem; //56px
  --size-13xl: 4rem; //64px
  --size-14xl: 4.5rem; //72px
  --size-15xl: 5rem; //80px


  /* Element Sizes */
  --size-element-sm-font: var(--size-sm); //14px
  --size-element-sm-line-height: var(--size-md); //16px
  --size-element-sm-border-radius: var(--size-6xs); //4px
  --size-element-sm-padding-y: var(--size-6xs); //4px 
  --size-element-sm-padding-x: var(--size-5xs); //6px
  --size-element-sm-gap: var(--size-8xs); //2px
  --size-element-sm-icon: var(--size-md); //16px
  --size-element-sm-text-padding: var(--size-8xs); //2px

  --size-element-md-font: var(--size-md); //16px
  --size-element-md-line-height: var(--size-xl); //20px
  --size-element-md-border-radius: var(--size-4xs); //6px
  --size-element-md-padding-y: var(--size-4xs); //6px
  --size-element-md-padding-x: var(--size-3xs); //8px
  --size-element-md-gap: 0;
  --size-element-md-icon: var(--size-xl); //20px
  --size-element-md-text-padding: var(--size-6xs); //4px
  
  --size-element-lg-font: var(--size-lg); //18px
  --size-element-lg-line-height: var(--size-2xl); //22px
  --size-element-lg-border-radius: var(--size-3xs); //8px
  --size-element-lg-padding-y: 0.5rem;
  --size-element-lg-padding-x: var(--size-xs); //12px
  --size-element-lg-gap: var(--size-7xs); //3px
  --size-element-lg-icon: var(--size-xl); //20px
  --size-element-lg-text-padding: var(--size-7xs); //3px
  --size-element-lg-text-line-height: var(--size-3xl); //24px
}
