<!-- Универсальный футер логина -->
<div class="modal-footer">
  <button class="btn btn-md btn-outline" onclick="closeModal('<%= modal_id || 'loginModal' %>')">
    <span class="btn-text">Close</span>
  </button>
  <button class="btn btn-md btn-primary">
    <span class="btn-text">Login</span>
  </button>
</div>
