<!-- Универсальный модальный контейнер -->
<div class="modal" id="<%= modal_id %>">
  <div class="modal-content">
    <%= render header_partial, modal_id: modal_id %>
    <%= render body_partial %>
    <%= render footer_partial, modal_id: modal_id %>
  </div>
</div>
