<!-- Футер формы логина -->
<div class="form-footer <%= 'form-footer--block' unless modal_id %>">
  <% if modal_id %>
    <button class="btn btn-md btn-outline" onclick="closeModal('<%= modal_id %>')">
      <span class="btn-text">Close</span>
    </button>
  <% end %>
  <button class="btn btn-md btn-primary">
    <span class="btn-text">Login</span>
  </button>
</div>
