@layer typography {
  /* Базовые стили для списков */
  ul, ol {
    margin-block: 0;
    padding-inline-start: var(--size-l01); //24px
  }

  li {
    margin-bottom: var(--size-s01); //8px

    &:last-child {
      margin-bottom: 0;
    }
  }
}
