@layer typography {
  /* Базовые стили для параграфов */
  p {
    font-size: var(--font-size-m01); //16px
    line-height: var(--line-height-m); //150%
    margin-bottom: var(--size-m01); //16px
  }

  /* Обнуляем отступы у последнего элемента */
  :last-child {
    margin-bottom: 0;
  }

  /* Blockquote */
  blockquote {
    font-size: var(--font-size-l01); //24px
    font-style: italic;
    line-height: var(--line-height-l); //175%
    margin: var(--size-l01) 0; //24px
    padding-left: var(--size-l01); //24px
    border-left: var(--size-xs03) solid var(--color-border-primary); //4px
  }
}
