<!-- Блочный контейнер -->
<div class="form-block">
  <div class="form-content">
    <%= render header_partial %>
    <%= render body_partial %>
    <%= render footer_partial, modal_id: nil %>
  </div>
</div>
